<header class="site-header" role="banner">

  <div class="wrapper">
    <div class="site-title">
      <h1>{{ site.title }}</h1>
    </div>
    <div class="intro">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium lorem nec nulla rutrum, facilisis finibus magna sollicitudin. Pellentesque luctus commodo magna ac faucibus. Phasellus vitae cursus ipsum. In vitae interdum nunc. Nam sit amet rhoncus erat. Mauris malesuada tortor tortor, sed volutpat augue ornare id. Maecenas a feugiat nunc. Aliquam a tellus id mi consectetur mollis. Pellentesque nec turpis ut leo porta elementum nec at metus. Fusce ac rhoncus felis, eu scelerisque libero. Aenean varius dolor sit amet leo viverra tempor. Quisque congue ligula enim, vitae mattis nisi porta sed.
    </div>
    <div class="intro-links">
      <a class="btn btn-light" href="#i-need-help">I'm stranded</a>
      <a class="btn btn-blue" href="#i-want-to-help">I want to help</a>
    </div>
  </div>

</header>
