<header class="site-header" role="banner">
    <div class="wrapper">
        <div class="site-title">
            <h1>{{ site.title }}</h1>
        </div>
        <div class="intro">
        </div>
        <div class="intro-links">
            <a class="btn btn-blue" id="stranded-button" href="#for-travelers--refugees">I'm stranded</a>
            <a class="btn btn-blue" href="#for-those-who-want-to-help">I want to help</a>
        </div>
    </div>
</header>
<!-- The background image is from @brianloveswords on Twitter -->
