/**
 * Site header
 */
.site-header {
  width: 100%;
  height:30vh;
  min-height: 330px;
  background-image: url(/assets/img/protest.jpg);
  background-size: cover;
  background-position: center;
  padding-top:20px;

  .site-title {
    margin-top:100px;
    padding-top: 30px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 50%;
    width: 150px;
    height: 120px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    h1 {
      color: #d42729;
      font-weight: bold;
      font-size: 50px;
    }
  }

  .intro {
    display: block;
    background-color: #FFF;
  }

  .intro-links {
    margin-top: 30px;
    text-align: center;
  }
}

/**
 * Buttons
 */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #FAFAFA;
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
  -webkit-appearance: none;
  text-decoration: none; }
  .btn:hover {
    color: #FAFAFA;
    text-decoration: none;
    background-color: #0274e5; }
  .btn:visited {
    color: #FAFAFA; }

.btn-light {
  background: none;
  border: 2px solid #FAFAFA; }
  .btn-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-blue {
  background-color: #0157ae;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

#stranded-button {
  margin-right:30px;
  background-color: #00BBB6 /* Highlight call to action */
}

.main-button {
  font-size: 20px;
  padding: 12px 14px;
  display: block;
}
#stranded-button {
  margin: 0 0 20px 0;
}

/* medium-ish phones and up */
@media screen and (min-width: 481px) {
  .main-button {
    font-size:24px;
    padding:10px 16px;
    display: inline-block;
  }
  #stranded-button {
    margin-right:30px;
  }
}
